.h2
{
	color: #99FF33;
	margin: 10px 0px 20px 0px;

}

.h3
{
	color: 	#FFFFFF;
	margin: 10px 0px 0px 0px;

}

.textstyle
{
	color: #00FF66;
	text-align: center;

}

.beijingcolor
{
	background-color: #330033
}

.beijingimag
{
	background: url("../图形模板/BJ.png");
/*	background-size: contain;*/
	margin: 0px;

}

.kuai1
{
	
	/*height:280px;
	width: 480px;*/
	height:auto;
	width: auto;
	color: #F0F0F0;
	/*background-color: rgba(18, 18, 18, 0.5);*/
	/*background: url("../图形模板/框22.png") no-repeat center;*/
	background-size: contain;

}

.kuai2
{
	/*height: 370px;
	width: 860px;*/
	height: auto;
	width: auto;
	color: #F0F0F0;
	/*background: url("../图形模板/框23.png") no-repeat center;*/
	background-size: contain;
	margin: 0px;

}


.kuai1_tu
{
	height:260px;
	/*width: 480px;*/
	margin: 10px,0px,0px,0px;
}
.kuai1_tu2
{
	height:370px;
	width: auto;
	margin: 10px,0px,0px,0px;
	/*display:inline-block ;*/
	
}
.kuai1_tu4
{
	height:430px;
	/*width:840px;*/
	margin: 10px,0px,0px,0px;
}
.kuai_title
{
	text-align: center;
	margin: 0px 0px 0px 0px;
	font-weight: bold;
}

